<h1>
    Create Departamento
</h1>
<p>
    <a asp-controller="Departamentos"
    asp-action="Index">
    Back to list
    </a>
</p>
<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre"
        class="form-control" />
    <label>Localidad: </label>
    <input type="text" name="localidad"
           class="form-control" />
    <button class="btn btn-info">
        Insertar
    </button>
</form>